<consentio-modal>
	<main>
		<h4>{{ modalTitle }}</h4>
		<p>{{ modalDescription }}</p>
		<consentio-consent-items>
			{{ consentItems }}
		</consentio-consent-items>
	</main>
	<footer>
		<div class="logo">
			<a href="https://github.com/ChrisMavrommatis/consentio" target="_blank" rel="noopener noreferrer" class="link">
				<strong>Consentio</strong>
			</a>
		</div>
		<a class="button-flat" data-role="cancel">{{ buttonCancel }}</a>
		<a class="button-flat" data-role="save">{{ buttonSave }}</a>
	</footer>
</consentio-modal>
