<dialog class="panel" id="panel" aria-labelledby="panel-title" tabindex="-1">
<div class="panel__inner">
<div class="panel__bar">
<p class="panel__title" id="panel-title"></p>
<button type="button" class="button button--quiet panel__close">Close</button>
</div>
<p class="panel__lead"></p>
<div class="panel__switch" hidden><label><input type="radio" name="panel-shape" value="file"> The file</label> <label><input type="radio" name="panel-shape" value="variable"> A Tag Manager variable</label></div>
<pre><code class="panel__code"></code></pre>
<div class="panel__actions"><button type="button" class="button panel__copy">Copy</button></div>
</div>
</dialog>
