:host {
	--required-bg-color: rgba(0, 0, 0, 0.7);

	--theme-bar-title-color: #455a64;

	--bar-shadow-color: rgba(0, 0, 0, 0.37);
	--bar-bg-color: #e0e0e0;
	--bar-text-color: #424242;

	--button-bg-color: #37474f;
	--button-text-color: #e0e0e0;

	--button-flat-bg-color: #37474f;
	--button-flat-text-color: #e0e0e0;

	--modal-title-color: #455a64;

	--modal-bg-color: #e0e0e0;
	--modal-text-color: #424242;
	--modal-footer-bg-color: #D3D3D3;
	--modal-footer-border-color: #bdbdbd;


	--consent-header-bg-color: #ececec;
	--consent-header-text-color: #455a64;
	--consent-border-color: #a8a8a8;
	--consent-shadow-color: #8e8e8e69;

	--switch-text-color: #37474f;
	--switch-bg-color: rgba(0, 0, 0, .38);
	--switch-off-color: #f1f1f1;
	--switch-on-color: #37474f;

	--table-border-color: #636363;

	--floating-btn-bg-color: #37474f;
	--floating-btn-color: #704747;

	--link-text-color: #546e7a;
}
